@page "/"

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        <p>An unexpected error occurred.</p>
        <p>@errorMessage</p>
    </div>
}
else if (formConfiguration.Fields.Count > 0)
{
    <ErrorBoundary>
        <ChildContent>
            <PageTitle>@formConfiguration.Title</PageTitle>
            <h3>@formConfiguration.Title</h3>
            <div class="col-md-6 col-sm-12 col-lg-6">
                <FormGeneratorComponent FormConfig="formConfiguration" />
            </div>
        </ChildContent>
        <ErrorContent>
            <p>An unexpected error occurred while rendering the form.</p>
        </ErrorContent>
    </ErrorBoundary>
}
